@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* Scroll bar */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(191, 201, 202, 0.8);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #99a3a4;
}

:root {
  --color-shadow: #aaaaaa;
  --banner-job-color: #ff3e07;
  --content-1st-bg: #fff;
  --content-2nd-bg: #F4F4F4;
  --content-3rd-bg: #1C2143;
  --content-4th-bg: #303030;
  --content-5th-bg: #212121;
  --nav-item-color: #030303;
  --nav-item-color-hover: #ff3e07;
  --color-txt-smoke: #dadada4b;
  --color-txt-1st: #1C2143;
  --color-txt-2nd: #D1C01D;
  --color-txt-3nd: #303030;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Roboto", "Poppins";
}
h1,h2,h3,h4,h5,h6{
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  overflow: hidden;
}

header {
  display: inline;
}
.navbar {
  height: 10vh;
  display: flex;
  align-items: center;
  background-color: var(--content-1st-bg);
  justify-content: space-between;
  padding: 0px 90px;
  position: sticky;
  z-index: 999;
  box-shadow: 0px 0px 15px var(--color-shadow);
}
.navbar .navbar-brand {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.navbar .navbar-brand > a {
  text-decoration: none;
  font-size: 23px;
  color: #424040;
  font-weight: bold;
}

.navbar .navbar-menu {
  flex-grow: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0px;
}

.navbar .navbar-menu li {
  display: inline;
  margin: 0px 10px;
}

.navbar .navbar-menu .nav-item > a {
  color: var(--color-txt-3nd);
  font-size: 20px;
  font-weight:400;
  text-decoration: none;
}
.nav-item a > span {
  transition: color 0.5s ease-in-out;
}
.nav-item a:hover > span {
  color: var(--nav-item-color-hover);
}
#toggle {
	display: none;
}
@media screen and (max-width: 768px) {
  .navbar{
    padding: 0px 20px;
  }
  .navbar .navbar-brand a {
    font-size: 25px;
  }
  #toggle {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 9999;
    transition: 0.3s ease-in-out;
  }
	#toggle #btn-burger {
    position: relative;
    right: 0px;
		width: 20px;
		height: 3px;
		transition: 0.3s ease-in-out;
		border-radius: 2px;
		background-color: var(--content-3rd-bg);
	}
	#toggle #btn-burger::before,
	#toggle #btn-burger::after {
    content: "";
    opacity: 1;
		transition: 0.3s ease-in-out;
		position: absolute;
    right: 0px;
		width: 30px;
		height: 3px;
		border-radius: 2px;
		background-color: var(--content-3rd-bg);
	}
	#toggle #btn-burger::before {
		transform: translateY(-10px);
	}
	#toggle #btn-burger::after {
		transform: translateY(10px);
	}

	#toggle.toggle #btn-burger {
		background-color: transparent;
		transform: translateX(50px);
	}
	#toggle.toggle #btn-burger::before {
		transform: rotate(-45deg) translate(-35px, -35px);
	}
	#toggle.toggle #btn-burger::after {
		transform: rotate(45deg) translate(-35px, 35px);
	}
  .navbar .navbar-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    padding: 20px;
    top: 70%;
    left: 0%;
    background-color: var(--content-1st-bg);
    visibility: hidden;
    opacity: 0;
    z-index: 9;
    transition: all 0.5s ease-in-out;
  }
  .navbar .navbar-menu.active {
    visibility: visible;
    opacity: 1;
    top: 100%;
    box-shadow: 0px 5px 7px var(--color-shadow);
  }
  .navbar .navbar-menu li {
    margin-top: 10px;
  }
}
/* ------------ Main Element Css Code  ---------------- */
main {
  height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
main .content {
  display: flex;
  flex-direction: column;
}

/* ------------  Banner Element Css COde --------------*/
.banner {
  height: 90vh;
  display: flex;
  align-items: center;
  position: relative;
}

.cursor:after {
  content: "|";
  font-weight: 300;
  color: var(--color-txt-3nd);
  animation: cursorFlash 1s linear infinite
}
.banner .banner-merge{
  display: none;
  width: 100%;
  height: 100%;
  padding: 40px;
  position: relative;
}
.banner .banner-left,
.banner .banner-right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 40px;
  width: 40%;
}

.banner-left h1,
.banner-right h1{
  text-align: center;
  font-size: 85px;
  margin-bottom: 20px;
}

.banner .banner-merge .sosmed-container,
.banner .banner-left .sosmed-container{
  position: absolute;
  bottom: 20px;
}
.banner .banner-merge .sosmed-container > a > img,
.banner .banner-left .sosmed-container > a > img {
  width: 40px;
  transition: all 0.6s ease-in-out;
}
.banner .banner-merge .sosmed-container > a > img:hover,
.banner .banner-left .sosmed-container > a > img:hover {
  transform: translateY(-10px);
}
@media screen and (max-width: 768px) {
  .banner .banner-merge{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 1;
    z-index: 99;
  }
  
.banner .banner-merge .sosmed-container{
  left: 50%;
  transform: translateX(-50%);
}
  .banner .banner-left,
  .banner .banner-right{
    display: none;
  }
  .banner-merge h1{
    position: absolute;
    top: 25%;
    transform: translateY(-25%);
    font-size: 50px;
  }
  .banner-merge p{
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    padding-right: 40px;
  }
  .banner .banner-center{
    width: 100%;
    position: absolute;
    opacity: 0.5;
    text-align: center;
  }
}
/* ----------------- CSS CONTENT PROJECT --------------------*/
.project{
    height: 130vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--content-3rd-bg);
    color: #ffffff;
    position: relative;
}
.project .project-description{
  padding: 60px;
  height: 130vh;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}
.rectangle-bg{
  position: absolute;
  top: -8%;
  right: -10%;
  transform: rotate(-22deg);
  width: 70%;
  height: 70%;
  background-color: #ffffff;
}

.description-left, .description-right{
  z-index: 9;
  width: 50%;
  position: relative;
}

.section-title-text{
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 10px;
}
.section-title-underline{
  height: 2px;
  display: flex;
}
.project .section-title-underline{
  width: 100px;
  background-color: #F4F4F4;
}
.text-block{
  font-size: 250px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  display: block;
}
.section-description .section-description-title{
  font-size: 40px;
  font-weight: 700;
}
.section-description .section-description-text{
  font-size: 24px;
  font-weight:300;
}

.description-left .text-block{
  position: absolute;
  top: 50%;
  left: -5%;
  transform: translateY(-50%);
  -webkit-text-stroke-color: var(--color-txt-smoke);
}
.description-left .section-description{
  width: 70%;
  position: absolute;
  top: 65%;
  transform: translateY(-65%);
}

.description-right{
  color: var(--color-txt-1st);
  display: flex;
  align-items: center;
  height: fit-content;
  margin-top: 40px;
}
.description-right .section-description{
  width: 70%;
}

.card-nav{
  display: flex;
  position: absolute;
  bottom: 20%;
  right: 4%;
  transform: translateX(-20%);
}
.card-nav-item{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0px 5px;
  background-color: var(--content-2nd-bg);
  color: var(--color-txt-2nd);
  font-size: 20px;
  cursor: pointer;
  z-index: 999;
}

.project .project-list{
  width: 90%;
  position: absolute;
  display: flex;
  bottom: -10% !important;
  left: 50% !important;
  transform: translate(-50%, 10%);
}
.owl-stage{
  padding: 10px 0px;
}

.project-card{
  width: 290px;
  height: 200px;
}

.card-item{
  border-radius: 15px;
  overflow: hidden;
  background-color: var(--content-1st-bg);
  box-shadow: 0px 0px 10px var(--content-4th-bg);
}

.card-item img{
  width: 290px;
  height: 200px;
}
@media screen and (max-width: 768px) {
  .project{
    height: 100vh;
  }
  .rectangle-bg,
  .description-right{
    display: none;
  }
  .text-block{
    font-size: 200px;
  }
  .description-left{
    width: 100%;
  }
  .description-left .text-block{
    top: 20%;
    left: 50%;
    transform: translate(-50%,-20%);
  }
  .description-left .section-description{
    width: 100%;
    top: 55%;
    transform: translateY(-55%);
  }
  .section-description .section-description-title{
    font-size: 30px;
    font-weight: 700;
  }
  .section-description .section-description-text{
    font-size: 14px;
    font-weight:300;
  }
  .card-nav{
    bottom: 25%;
    z-index: 99;
    /* right: 4%;
    transform: translateX(-20%); */
  }
  .card-nav-item{
    width: 30px;
    height: 30px;
  }
  .project-card{
    width: 250px;
    height: 160px;
  }
}


/* ----------------- CSS CONTENT SKILL --------------------*/
.skills {
  padding: 170px 60px 60px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  position: relative;
  background-color: var(--content-2nd-bg);
}

.skill-title{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: start;
  color: var(--color-txt-3nd);
}

.skills .section-title-underline{
  width: 50px;
  background-color: var(--color-txt-3nd);
}

.skills .section-title-desc{
  margin-top: 20px;
  width: 50%;
  text-align: start;
}

.skill-list{
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skill-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  margin: 10px;
  width: calc(80%/4);
  height: 240px;
  border: 1px solid var(--color-txt-1st);
  color: var(--color-txt-1st);
  box-shadow: 0px 0px 10px var(--content-3rd-bg);
}
.card-item-header{
  margin-bottom: 20px;
  text-align: center;
}
.card-item-body{
  overflow-y: auto;
}
.card-icon{
  font-size: 40px;
}
@media screen and (max-width: 768px) {
  .skills {
    padding: 130px 60px 60px 60px;
  }
  .skills .section-title-desc{
    width: 100%;
  }
  .skill-list{
    width: 100%;
  }
  .skill-card{
    justify-content: space-around;
    padding: 20px;
    margin: 10px;
    width: 140px;
    height: 180px;
  }
  .card-item-header{
    margin-bottom: 15px;
    text-align: center;
  }
  .card-icon{
    font-size: 30px;
  }
}
@media screen and (max-width: 480px) {
  .skill-list{
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .skill-card{
    width: 200px;
    height: 220px;
  }
}

/* -------- PARALAX Css Code ----------*/
.paralax {
  height: 321px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 40px;
}

.paralax q,
.paralax p {
  color: #fff;
  font-family: "Poly";
  font-size: 30px;
}

.par-1 {
  background-image: url("../image/paralax1.jpeg");
}
.par-2 {
  background-image: url("../image/paralax2.jpeg");
}

/* ---------- Gallery Code ------------- */
.content-gallery {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
#gallery .header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#gallery .header > p {
  margin: 0;
  width: 70%;
}

#gallery .body {
  width: 70%;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  padding: 10px;
}
#gallery .body .columns {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#gallery .body .columns .rows {
  padding: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 10px var(--color-shadow);
}

#gallery .body .columns .rows > img {
  width: 100%;
}

.content-aboutme {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-aboutme aside {
  margin: 70px auto 20px auto;
  width: 80%;
  display: flex;
  flex-direction: row;
}
.content-aboutme aside .photos {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-aboutme aside .photos-box {
  background-color: #6b6660;
  width: 260px;
  height: 270px;
  box-shadow: 1px 1px 30px 3px #424040;
}
.content-aboutme aside .photos-box > img {
  position: relative;
  bottom: 70px;
  left: -40px;
  width: 340px;
}
.content-aboutme aside .description {
  padding: 0px 20px;
  width: 70%;
}
.content-aboutme aside .description > h1 {
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 25pt;
}
.content-aboutme aside .description > h1 > span {
  font-weight: 300;
  font-size: 45pt;
}
.content-aboutme aside .description span {
  font-size: 18pt;
  font-weight: bold;
  text-align: center;
}

.content-aboutme article {
  width: 80%;
  margin: 20px auto;
}

/* --------- Footer Css Code ------------ */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--content-4th-bg);
  padding: 20px;
}
.footer p {
  display: inline;
  color: var(--content-1st-bg);
  margin-bottom: 0px;
}

@media screen and (max-width: 1024px) {
  main .content .content-banner .banner-body {
    flex-direction: column-reverse;
    height: 100%;
  }
  main .content .content-banner .banner-left {
    flex-direction: row;
  }
  main .content .content-banner .banner-center {
    padding: 60px;
    justify-content: flex-start;
  }
  main .content .content-banner .banner-center,
  main .content .content-banner .banner-left {
    width: 100%;
  }
  main .content .content-banner .banner-right {
    display: none;
  }
  main .content .content-banner .banner-center {
    height: vh;
  }
  .footer .content-footer .item {
    flex-grow: 1;
    width: 100%;
  }
  .content-aboutme aside {
    flex-direction: column;
  }
  .content-aboutme aside .photos,
  .content-aboutme aside .description {
    width: 100%;
  }
  .content-aboutme aside .description > h1 > span {
    font-size: 30pt;
  }
  .content-aboutme aside .description > h1 {
    font-size: 20pt;
  }
}
@media screen and (max-width: 765px) {
  main .content .content-banner .banner-center .text h2 {
    font-size: 17pt;
  }
  main .content .content-banner .banner-center .text h1 {
    font-size: 25pt;
  }
  #skills .header > p {
    width: 100%;
  }
  .content-skills .body {
    padding: 0px;
  }
  .glide .glide__slide {
    width: 40px;
  }
  .glide .glide__slide > img {
    width: 90px;
    height: 90px;
  }
  .paralax q,
  .paralax p {
    font-size: 20px;
  }
  #gallery .header > p {
    width: 100%;
  }

  #gallery .body {
    width: 100%;
  }
  .content-aboutme aside .description {
    padding: 0px;
  }
  .footer .cp p {
    font-size: 6pt;
  }
}
